@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&family=Oswald:wght@300;400;700&display=swap');

//variables
$colorAmarillo: rgb(240, 200, 69);
$colorNegro: #38363b;
$colorBlanco: #fff;
$colorGris: #897f97;
$sombra: 0 0 10px rgba(0, 0, 0, 0.5);

$mobile: 576px;
$desktop: 992px;

// reset ?


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', Serif;
}

/* ANIMACIONES */

@keyframes EfectoAgrandar {
    0% {
        transform: scale(1.1, 1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    100% {
        transform: scale(1.11, 1.11);
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
    }

}

@keyframes EfectoBotones {
    0% {
        background: $colorAmarillo;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    50% {
        background: $colorAmarillo;
        color: $colorNegro;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        padding: 7px 10px 7px 10px;
    }

    100% {
        background: $colorNegro;

        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
}

.boton_amarillo {
    background-color: $colorAmarillo;
    box-shadow: $sombra;
    border-style: none;

    &:hover {
        animation-name: EfectoBotones;
        animation-duration: 10s;
        animation-iteration-count: 1;
        animation-timing-function: ease;

        &:hover {
            background: $colorNegro;

            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }
    }
}

@keyframes EfectoNav {
    0% {
        color: rgb(99, 87, 48)
    }

    50% {
        color: $colorAmarillo;
    }

    100% {
        color: rgb(99, 87, 48)
    }
}


/* NAVBAR */

.navbar-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;

    .navbar__item {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        text-decoration: none;
        color: $colorNegro;
        font-size: x-large;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;
            align-content: center;
            text-decoration: none;
            color: $colorNegro;
            font-size: x-large;

            &:hover {
                animation-name: EfectoNav;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in;
            }
        }

        li {
            list-style: none;

            a {
                font-style: normal;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                color: $colorNegro;
                font-size: x-large;

                &:hover {
                    color: $colorAmarillo;
                }
            }
        }
    }

    .navbar__logo {
        width: auto;
        height: 100px;
        margin: 20px;
    }

    .l1 {
        grid-column: 1/3;
    }

    .l5 {
        grid-column: 7/8;
    }
}

@media (max-width: $mobile) {
    .navbar-grid {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 25px;
    }

    .navbar__item .navbar__logo {
        width: auto;
        height: 40px;
        margin: 20px;
    }

    .navbar__item a {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        text-decoration: none;
        color: black;
        font-size: large;
    }

    .l1 {
        grid-column: 1;
    }

}


/*  CARROUSEL */

header {
    .d-item {
        height: 500px;
    }

    .c-img {
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);
    }

    .header__title {
        font-weight: 700;
    }

    .quieroEscalar {
        font-weight: 900;
    }


}

/* MAIN */

.home-grid {
    width: 100%;
    display: grid;
    margin-top: 100px;
    padding: 20px 0px 20px 0px;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    justify-content: center;
    align-content: center;

    .home__item {
        display: flex;
        width: auto;
        height: 300px;
        align-items: center;
        justify-content: center;

        .home__title {
            font-weight: 900;
            display: grid;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    .r7 {
        grid-column: 1/3;
        grid-row: 4/5;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }


    .home__item__img {
        height: 400px;
        box-shadow: $sombra;

        .home__img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:hover {
            animation-name: EfectoAgrandar;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: linear;

            &:hover {
                transform: scale(1.11, 1.11);
                box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
            }
        }
    }
}


/* UBICACION */

.ubicacion-grid {
    margin: 100px 0px 0px 0px;
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: 1fr;
    justify-content: space-evenly;

    .c3 {
        display: flex;
        border: solid 1px black;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
        box-shadow: $sombra;

        .mendotran {
            height: 50px;
            width: auto;
            object-fit: cover;
        }

        .ubicacion__logo {
            width: auto;
            height: 150px;
            margin: 20px;
        }

        .paradas {
            display: flex;
            gap: 10px;
        }

        .paradas p {
            padding: 0px 2px 0 2px;
            color: rgb(255, 255, 255);
            background-color: #897f97;
        }

    }

    .c2 {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .ubicacion-grid {
        margin: 100px 0px 100px 0px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        justify-content: center;

        .c3 {
            display: flex;
            border: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 20px;
            box-shadow: none;
        }
    }
}

/* FOOTER */

.footer-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: $colorNegro;
    color: #fff;

    .footer__item {
        display: flex;
        justify-content: center;
        align-items: center;

        .redes {
            width: 20px;
            height: auto;
        }

        a:hover p {
            color: $colorAmarillo;
        }
    }

    .f1 {
        grid-column: 4;
        grid-row: 2;
    }

    .f2 {
        grid-column: 4;
        grid-row: 3;
    }

    .f3 {
        grid-column: 4;
        grid-row: 4;
    }

    .f4 {
        grid-column: 2;
        grid-row: 3;
    }

    .f5 {
        grid-column: 6;
        grid-row: 2;
    }

    .f6 {
        grid-column: 6;
        grid-row: 3;
    }

    .f7 {
        grid-column: 6;
        grid-row: 4;
    }

    .f8 {
        grid-column: 6;
        grid-row: 5;
    }

    .f9 {
        grid-column: 2;
        grid-row: 4;
    }

    .f10 {
        grid-column: 2;
        grid-row: 2;
    }
}

.contact-us-grid {
    display: grid;
    margin: 100px 0px 100px 20%;
    width: 60%;
    padding: 40px;
    background-color: $colorNegro;
    grid-template-rows: 15% 10% 10% 10% 10% 20%;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .contact-us__item {
        display: flex;
        justify-content: center;
        margin: 0px;
    }
}

.light {
    color: rgb(255, 255, 255);
}

.footer-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #38363b;

    .footer__item {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
        }

        .footer__text {
            font-weight: 500;
        }

    }
}

/* TARIFA */

.tarifa-grid {
    color: #fff;
    display: grid;
    width: 80%;
    margin: 50PX 100px 100px 100px;
    padding: 20px;
    border: 1px solid black;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    justify-content: space-evenly;
    gap: 30px;
    background: linear-gradient(180deg, #fff 50%, $colorAmarillo 50%);
    box-shadow: $sombra;

    .tarifa__item {
        padding: 10px 10px;
        border: 3px solid #38363b;
        background-color: $colorNegro;

        &:hover {
            transform: scale(1.05, 1.05);
        }
    }
}

@media (max-width: $mobile) {
    .tarifa-grid {
        color: #fff;
        display: grid;
        width: fit-content;
        height: auto;
        padding: 20px;
        border: 1px solid black;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        text-align: center;
        gap: 30px;
        background: linear-gradient(180deg, #fff 50%, rgb(240, 200, 69) 50%);
    }
}

/* MUROS */

.muro-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .muro__item {
        display: flex;
    }

    .m1 {
        grid-column: 2/12;
    }

    .m2 {
        grid-column: 2/12;
        grid-row: 2;
    }
}

@media (max-width: $mobile) {

// nunca pude hacer que no desasparezca el texto :\ la doc de boostrap esta pesada ahi*//
    .muro-grid {
        margin-bottom: 100px;
        .m1 {
            grid-column: 1/13;
            .carousel {
                position: absolute;
                width: 100%;
                .carousel-inner {
                    .d-none {
                        display: flex;
                    }
                }
            }
        }
        .m2 {
            grid-column: 1/13;
        }
    }
}


/* LOGIN - REGISTRO */


nav .dark {
    background-color: $colorNegro;

    .navbar__item {
        a {
            color: $colorBlanco;

            &:hover {
                color: $colorAmarillo;
            }
        }

        li {
            list-style: none;

            a {
                color: $colorBlanco;

                &:hover {
                    color: $colorAmarillo;
                }
            }

            ul {
                li {
                    a {
                        color: $colorNegro;

                        &:hover {
                            color: $colorAmarillo;
                        }
                    }
                }
            }
        }
    }
}




.registro-grid {
    margin: 100px 0px 200px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;

    .registro__data {
        color: #fff;
        grid-column: 6/11;
        background-color: #38363b;

        .registro__item {
            display: grid;
            grid-template-rows: repeat(6, auto);
            justify-content: center;
            align-items: center;
            justify-items: center;
            align-content: center;
            gap: 10px;

            .mb3 {
                justify-content: center;
                align-items: center;
            }
        }
    }

    .registro__logo {
        display: flex;
        grid-column: 3/6;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        background-color: #38363b;

        .img__registro {
            display: flex;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }


}